@font-face {
  font-family: 'Bernardo Moda';
  src: url(/assets/fonts/bernardo_moda/BernardoModa.ttf);
}

@font-face {
  font-family: 'Bernado Moda';
  src: url(/assets/fonts/bernardo_moda/BernardoModa-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Jose Fernandez';
  src: url(/assets/fonts/jose_fernandez/JoseFernandez.ttf);
}

html, body {
  height: 100%
}

body {
  font-family: 'Bernardo Moda', sans-serif;
  color: #000;
}

h1 {
  line-height: 1;
  font-family: 'Jose Fernandez';
  font-size: 3em;
  text-align: center;
}

h2 {
  font-family: 'Jose Fernandez';
  text-align: center;
  font-size: 1.8em;
}

nav {
  font-family: 'Jose Fernandez';
}

p {
  font-size: 1.8em;
  margin-bottom: 10px;
  line-height: 1.4;
  text-align: justify;
}

a {
  color: inherit;
}

strong {
  font-family: 'Bernardo Moda';
  font-weight: bold;
  color: #333;
}

.headerBackground {
  height: 270px;
}

@media (max-width: 900px) {
  .pageLayoutContentWrapper {
    max-width: 700px !important;
  }

}

@media (max-width: 700px) {
  nav {
    font-size: 1.1em !important;
  }

  p {
    font-size: 1.3em;
  }

  h1 {
    font-size: 1.8em !important;
  }

  h2 {
    font-size: 1.1em;
  }

  .pageLayoutContentWrapper {
    max-width: 400px !important;
  }

  .headerBackground {
    height: 150px !important;
  }

  .homeBackgroundHeader {
    height: 200px !important;
  }

  .homeLinkWrapper {
    margin-top: 25% !important;
  }

  .honeLink {
    font-size: 4em !important;
  }

  .contactWrapper {
    flex-direction: column !important;
    font-size: 1.3em !important;
    justify-content: space-between;
  }

  .contactWrapper > div:first-child {
    margin-bottom: 10px;
  }
}
