@font-face {
  font-family: Neuton;
  src: url(/assets/fonts/neuton/NeutonCursive-Regular.ttf);
}

@font-face {
  font-family: 'Neuton Bold';
  src: url(/assets/fonts/neuton/Neuton-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url(/assets/fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(/assets/fonts/montserrat/Montserrat-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url(/assets/fonts/montserrat/Montserrat-RegularItalic.ttf);
  font-style: oblique;
}

html, body {
  height: 100%
}

body {
  font-family: Montserrat, sans-serif;
}

h1 {
  line-height: 1;
  font-family: Neuton;
  font-size: 3em;
  text-align: center;
}

h2 {
  font-family: Neuton;
  text-align: center;
  font-size: 1.8em;
}

nav {
  font-family: Neuton, "Neuton Bold";
}

p {
  font-size: 1.3em;
  margin-bottom: 10px;
  line-height: 1.4;
  text-align: justify;
}

a {
  color: inherit;
}

em {
  font-style: oblique;
}

strong {
  font-weight: 600;
  color: #333;
}

.headerBackground {
  height: 270px;
}

@media (max-width: 900px) {
  .pageLayoutContentWrapper {
    max-width: 700px !important;
  }

}

@media (max-width: 700px) {
  nav {
    font-size: 1.5em !important;
  }

  p {
    font-size: 1em;
  }

  .pageLayoutContentWrapper {
    max-width: 400px !important;
  }

  .headerBackground {
    height: 200px !important;
  }

  .homeImageWrapper {
    display: flex;
    justify-content: center;
  }

  .homeImage {
    width: 300px !important;
    margin: 15px !important;
  }

  .contactWrapper {
    flex-direction: column !important;
    font-size: 1em !important;
    justify-content: space-between;
  }

  .contactWrapper > div:first-child {
    margin-bottom: 10px;
  }
}
